*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 65px;
    background: rgb(90, 199, 236);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo{
    cursor: pointer;
    font-size: 27px;
    font-weight: bold;
    color: white;
    transition: 0.4s ease;
}
.logo:hover{
    transform: scale(1.05);
    /* color: rgb(19, 102, 130);
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 20px;
    transition: 0.15s ease; */
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: 0.4s ease;
}
.nav-bar ul li a:hover{
    transform: scale(1.1);
}
.nav-bar ul li a.active{
    border-bottom: 2px solid;
    border-radius: 5px;
    transition: 0.15s;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        width: 100%;
        background: rgb(88, 198, 235);
        transition: 0.5s ease;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 330px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s ease;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}
/* login form css */

.login-container{
    width: 100%;
    background-color:none;
    display: flex;
    justify-content: center;
    position: relative;
}

.login-box{
    background-color: rgb(255, 255, 255);
    width: 350px;
    text-align: center;
    padding: 16px;
    margin-top: 100px;
    border-color: blue;
}

.login-top-text{
    width: 100%;
    padding: 16px;
   margin-bottom: 16px;
}
.login-top-text p{
    font-size: 30px;
}

.login-form{
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.login-input-field{
    width: 100%;
    padding: 8px;
    border: none;
    height: 40px;
    background-color: rgba(65, 205, 244, 0.529);
    backdrop-filter: blur(3px);
    border-radius: 50px;
    margin-bottom: 8px;
    outline: none;
}

.login-btn{
    width: 100%;
    padding: 8px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}
.log-btn{
    width: 80px;
    height: 40px;
    border: none;
    background-color:  rgba(10, 183, 231, 0.529);
    border-radius: 4px;
    font-size: 20px;
}

.signup-text{
    color: black;
    text-decoration: underline;
}